---
services_area:
  enable: true
  title: "OUR SERVICES"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services:

    - title: "Web Design"
      image: "/assets/images/art/g1.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Learn More"
      button_url: "#"

    - title: "App Development"
      image: "/assets/images/art/g2.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Learn More"
      button_url: "#"

    - title: "Corporate Design"
      image: "/assets/images/art/g3.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Learn More"
      button_url: "#"

title: Demo site
layout : default
---
{% include header.html extra_class="absolute transparent" logo_class="logo" %}

{% if page.services_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
  	{% if page.services_area.enable %}
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
		    <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
		    <div class="space40"></div>
    	</div>
    </div>	
    {% endif %}
    {% if page.services_area.enable %}
    <div id="target" class="row gutter-60 text-center align-items-end">
      
    </div>
    <!--/.row -->
    {% endif %}
  </div>
</div>
<!-- /.wrapper -->
{% endif %}

<!-- <div id='target'></div> -->
<script>
  var Airtable = require('airtable');
  var base = new Airtable({ apiKey: 'keyseIoCRcu2Bd157' }).base('appNFHQ99gllMSqiE');

  let target = document.getElementById('target');
  let html = '';

  base('Service').select({ // Selecting the first 3 records in Grid view:
    maxRecords: 100,
    view: "Grid view"
  }).eachPage(function page(records, fetchNextPage) { // This function (`page`) will get called for each page of records.

    records.map(function (record) {
      console.log('Retrieved: ', record.get('Name') + ' ' + record.get('Text')+ ' ' + record.get('Image'));

      let title = record.get('Name');
      let text = record.get('Text');
      let image = record.get('Image');

      console.log(`title`, title);
      console.log(`text`, text);
      console.log(`image`, image);

      html += `
      <div class="col-md-4">
        <div class="img-blob blob8 mb-30">
        	<img src="${image}" style="width: 30rem" "/>
        </div>
        <h4>${title}</h4>
        <p class="mb-15">${text}</p>
        <div class="text-center"><a href="#" class="more">Learn More</a></div>
      </div>`
     
    });
    document.getElementById("target").innerHTML = html;
    // console.log(`html`, html)
    
    
    // To fetch the next page of records, call `fetchNextPage`.
    // If there are more records, `page` will get called again.
    // If there are no more records, `done` will get called.
    fetchNextPage();
    
  }, function done(err) {
    if (err) {
      console.error(err);
      return;
    }
  });
</script>